paper_checkpoints filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/fft.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_1.05M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_1.19M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_151M_s32_fixed16_u2_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_151M_s32_fixed32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_151M_s32_randbc32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_151M_s32_randcr32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_18.9M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_18.9M_s32_randbc32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_18.9M_s32_randcr32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_3.55M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_4.73M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_EMA_151M_s32_fixed32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_18.9M_s32_fixed16_u2_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_18.9M_s32_fixed32_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_2.37M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_4.2M_s16_fixed16_best.ckpt filter=lfs diff=lfs merge=lfs -text
paper_checkpoints/model_ff_EMA_151M_s32_fixed16_u2_best.ckpt filter=lfs diff=lfs merge=lfs -text
