# basic packages
numpy
scipy
matplotlib
h5py
pytest

# we want cuda 11 support
torch
torchvision
#pytorch-lightning
#torchmetrics
#torchinfo
#torchviz

# we need this for invertible layers
torchdeq
#git+https://github.com/facebookresearch/pytorch3d.git
